*{
    color: var(--fontColor);
    font-family: helvetica;
    font-size: 50px;
 }

 body{
    background: var(--bg)
 }
ul {
    font-family: helvetica;
}
li{
    list-style: circle;
}
.list{
    list-style: square;
 }
 .bnt{
    position: absolute;
    top: 35px;
    left: 500px;
    height: 120px;
    width: 120px;
    border-radius: 50%;
    border: none; 
    color: var(--bntFontColor);
    background-color: var(--bntBg);
 }
 .bnt:focus { outline-style: none;}
:root {
    --green: #00ff00;
    --white: #ffffff;
    --black: #000000; 
 }
.light-theme{
   --bg: var(--green);
   --fontColor: var(--black);
   --bntBg: var(--black);
   --bntFontColor: Var(--white);
}
.dark-theme{
   --bg: var(--black);
   --fontColor: var(--green);
   --bntBg: var(--white);
   --bntFontColor: var(--black);
 }

